body {
    background-color: #F5F5F5;
    margin: auto;
    width: auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
 }


h1 {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  padding-top: 70px;
  font-size: 2rem;
  margin-bottom: -10px;
}

h2 {
  font-size: 2rem;
}


p {
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 2px;
  color: #333;
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav ul li a:hover {
  background-color: #555;
}


a:hover {
    text-decoration: underline;
}


.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0 2rem;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.intro {
  flex: 1;
  text-align: left;
  padding-right: 2rem;
}

.photo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 80%;
  height: auto;
  border-radius: 50%;
}

#skills {
  padding: 4rem 0;
  background-color: #f0f0f0;
  text-align: center;
}


.skills-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.skills-list li {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border-radius: 0.25rem;
}

.posts {
  padding: 2rem 0;
  text-align: center;
  margin: 1em;
}

#blog {
  background-color: #f0f0f0;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

article {
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  overflow: hidden;
}

article img {
  width: 300px;
  height: 250px;
}

article h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

article a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #333;
  margin: 0 1rem 1rem;
}

article a:hover {
  text-decoration: underline;
}

footer {
  border-top: 1px solid #d5d5d5;
  padding: 2rem 0px 0px 0px;
  text-align: center;
  background: #292c33;
  color: #bec6d5;
  height: 100%;
}

footer p{
margin: 0 auto 0px;
color: #bec6d5;
}

.footer-text{
font-size: 1.2rem;
color: #bec6d5;
}

.fa{
size: 1.5rem;
margin-top: 3rem;
color: white;
}

footer a{
text-decoration: none;
padding: 8px;
color: white;
}

footer h3{
color: white;
font-size: 1.8rem;
}

.footer-bottom{
margin: 2rem 0px 0px 0px;
}
