<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/" class="pages">Home</a></li>
		        	<li><a href="/about" class="pages">About</a></li>
	        		<li><a href="/cv" class="pages">CV</a></li>
	        		<li><a href="/blog" class="pages">Blog</a></li>
	        		<li><a href="/projects" class="pages">Projects</a></li>
	    		</ul>
			</nav>
			
			<div class="blurb">
				<span style="float:left;width: 20%">
					<img src="/assets/images/image.jpg" alt="Avatar">
				</span>
				<span style="float:right;width: 80%">
					<h1>Raghuvardhan Karanam</h1>
				</span>
			</div><!-- /.blurb -->

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
